*{
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
    margin: 0px;
    padding: 0px;

}


.letra{
    text-shadow: 0px,0px,10px,white;
    text-shadow: 0px,0px,20px,white;
    text-shadow: 0px,0px,30px,white;
    text-shadow: 0px,0px,40px,white;
                 
    color: rgb(105, 8, 150);                                                                               
    font-size: 2.5em ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.letra1{
    color: rgb(48, 3, 248);                                                                               
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }


.letra2{
    color: rgb(211, 142, 243);                                                                               

        font-size: 2em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }


.img1{
        border-radius: 20px;
        }


        .gradient-custom-2 {
            /* fallback for old browsers */
            background: #fccb90;
            
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
            
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
            }
            
            @media (min-width: 768px) {
            .gradient-form {
            height: 100vh !important;
            }
            }
            @media (min-width: 769px) {
            .gradient-custom-2 {
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
            }
            }
        




    table {
background-color: white;

border-collapse: collapse;
width: 100%;
margin-bottom: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {

border: 1px solid #ddd;
padding: 10px;
text-align: left;
}

th {
background-color: white;
}

tr:nth-child(even) {
background-color: white;
}

tr:hover {
background-color: #ddd;
}
        

       
    

